.emergency-container {
  display: inline-flex;
  width: 100%;
  height: 100%;

  &__left {
    width: 70%;
    height: 100%;

    .vital-container {
      height: 100%;

      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;

      .vital {
        height: calc(100vh / 5 - 2rem);
      }
    }
  }
  &__right {
    width: 30%;
    height: 100%;
  }
}
