@import "../../../styles.scss";

/* ###### FOOTER ###### */
.footer {
  display: inline-flex;
  width: 100%;
  height: 4vh;
  font-size: 80%;
  white-space: nowrap;

  &__inner {
    width: 100%;
    display: flex;
    justify-content: space-between;

    &__main {
      display: flex;
      justify-content: space-between;
      width: 100%;
      background-color: $accent-color;
      border-radius: 40px;
      align-items: center;

      &__left {
        display: flex;
        width: 25%;
        justify-content: flex-start;
        gap: 0.5rem;
        height: 100%;
      }
      &__center {
        display: flex;
        width: 50%;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        height: 100%;
      }
      &__right {
        height: 100%;
        display: flex;
        width: 25%;
        justify-content: flex-end;
        align-items: center;
        gap: 0.5rem;
      }
    }
  }
}

.footer-btn {
  background-color: $footer-button-color;

  //padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  height: 100%;
  border-radius: 50px;

  display: flex;

  justify-content: center;
  align-items: center;

  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
