<!-- FOOTER -->
<div class="footer">
  <div class="footer__inner">
    <div class="footer__inner__main">
      <div class="footer__inner__main__left">
        <div class="footer-btn">
          <span>Acknowlege</span>
        </div>
        <div class="footer-btn">
          <span>Pause Alarms</span>
        </div>
      </div>
      <div class="footer__inner__main__center">
        <div class="footer-btn">
          <span>Start/Stop</span>
        </div>
        <div class="footer-btn">
          <span>Stop All</span>
        </div>
        <div class="footer-btn">
          <span>Zero</span>
        </div>
        <div class="footer-btn">
          <span>Recordings</span>
        </div>
        <div class="footer-btn">
          <span>Vital Trend</span>
        </div>
        <div class="footer-btn">
          <span>Patient Demogr.</span>
        </div>
        <div class="footer-btn">
          <span>Monitor Standby</span>
        </div>
      </div>
      <div class="footer__inner__main__right">
        <div class="footer-btn">
          <span>Main Setup</span>
        </div>
        <div class="footer-btn">
          <span>Main Screen</span>
        </div>
      </div>
    </div>
  </div>
</div>
