@import "../../../styles.scss";

.grid {
  width: 100%;
  height: 100%;
}

.inactive {
  opacity: 40%;
}

.active-graph-selector {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;

  &__title {
    font-size: 1.2rem;
    height: 10%;
  }
  &__inner {
    width: 90%;
    height: 90%;
    overflow-y: scroll;
    overflow: -moz-scrollbars-vertical;

    display: flex;
    flex-wrap: wrap;
    padding-right: 1vw;

    &__item {
      width: 30%;
      cursor: pointer;
      margin: 1rem;
    }
  }
}

.active-graph-container {
  grid-column: 3 / span 8;
  grid-row: 1 / span 2;

  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* inner layout: large graph on top, then two rows of 2 small graphs each */
  grid-template-rows: 2fr 1fr 1fr;
  row-gap: 0.5rem;

  .active-graph-lg {
    grid-column: 1 / span 4;
    grid-row: 1; // top area
  }

  /* small graphs: two per row, each spans 2 columns */
  .active-graph-sm-1 {
    grid-column: 1 / span 2;
    grid-row: 2;
  }

  .active-graph-sm-2 {
    grid-column: 3 / span 2;
    grid-row: 2;
  }

  .active-graph-sm-3 {
    grid-column: 1 / span 2;
    grid-row: 3;
  }

  .active-graph-sm-4 {
    grid-column: 3 / span 2;
    grid-row: 3;
  }
}

.trend-graph-selector {
  grid-column: 1 / span 2;
  grid-row: 3 / span 4;

  &__title {
    font-size: 1.2rem;
    height: 10%;
  }
  &__inner {
    width: 90%;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-right: 1vw;

    &__element {
      display: flex;
      justify-content: space-between;
      align-items: center;

      padding: 0.5rem;
      margin-bottom: 0.5rem;

      border: 1px solid $accent-color;

      cursor: pointer;

      &:hover {
        background-color: $accent-color;
      }

      &.active {
        background-color: $accent-color;
      }

      .selector-name {
        font-size: 0.8rem;
      }
      .selector-icon {
      }
    }
  }
}

.trend-graph-container {
  grid-column: 3 / span 8;
  grid-row: 3 / span 4;

  &__menu {
    height: 10%;
    width: 100%;

    display: inline-flex;
    justify-content: space-between;
    align-items: center;

    div {
      height: 100%;
    }

    .time-selectors {
      width: 20%;

      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;

      &__item {
        width: 35px;
        height: 35px;
        background-color: $accent-color;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        border-radius: 100%;

        font-size: 0.7rem;

        &:hover {
          background-color: $bg-color;
          border: 1px solid $accent-color;
          cursor: pointer;
        }
      }
    }
    .timeline {
      width: 75%;
      padding-left: 1rem;
      padding-right: 1rem;

      display: inline-flex;
      justify-content: space-between;
      align-items: center;

      div {
        height: 100%;
        width: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &__left {
      }
      &__bar {
        width: 90%;

        &__inner {
          overflow-x: scroll;
        }
      }
      &__right {
        width: 5%;
      }
    }
    .trend-btn {
      width: 35px;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .active {
        background-color: #eeeeee;
        .stroke-col {
          stroke: $bg-color;
        }
      }

      div {
        width: 35px;
        height: 35px;
        background-color: $accent-color;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        border-radius: 100%;

        background-color: $accent-color;

        &:hover {
          cursor: pointer;
          .stroke-col {
            stroke: $bg-color;
          }

          background-color: #eeeeee;
        }

        .stroke-col {
          stroke: $text-color;
        }
      }
    }
  }

  &__chart-container {
    height: 90%;
    width: 100%;
    overflow-y: scroll;
  }
}
