@import "../../../styles.scss";

/* ###### NAVBAR ###### */
.navbar {
  display: inline-flex;
  width: 100%;
  height: 4vh;
  font-size: 80%;

  &__inner {
    width: 100%;
    display: flex;
    justify-content: space-between;

    &__preset {
      background-color: $accent-color;
      width: 12vw;
      min-width: 120px;
      margin-right: 1rem;
      border-radius: 40px;
      display: flex;
      justify-content: center;
      align-items: center;

      &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 1rem;

        .preset-slider {
          width: 100%;
          display: flex;
          justify-content: space-between;
          .arrow-left {
          }

          .preset-name {
          }

          .arrow-right {
          }
        }
      }
    }

    &__main {
      display: flex;
      justify-content: space-between;
      width: 95%;
      background-color: $accent-color;
      border-radius: 40px;
      padding: 1rem;
      align-items: center;

      &__left {
        display: flex;
        width: 30%;
        justify-content: space-between;

        .name {
          font-weight: bold;
        }

        .birthdate {
        }

        .gender {
        }
      }
      &__center {
        display: flex;
        width: 30%;
        justify-content: center;
        align-items: center;

        .emergency-btn {
          border: 1px solid $text-color;

          padding: 0.5rem 1.5rem 0.5rem 1.5rem;
          border-radius: 50px;
        }
      }
      &__right {
        height: 100%;
        display: flex;
        width: 30%;
        justify-content: space-between;
        align-items: center;

        .date {
        }

        .time {
          font-weight: bold;
        }
      }
    }
    &__log {
      background-color: $accent-color;
      width: 8vw;
      min-width: 100px;
      margin-left: 1rem;
      border-radius: 40px;
      display: flex;
      justify-content: center;
      align-items: center;

      &__container {
        display: flex;
        justify-content: center;
        align-items: center;

        .log-icon {
          width: 20px;
          height: 20px;
          border: 2px solid $text-color;
          border-radius: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1rem;
          font-weight: bold;
          margin-right: 1rem;
        }

        .log-badge {
          height: 20px;
          width: 20px;
          background-color: red;
          border: 2px solid red;
          border-radius: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 0.7rem;
          font-weight: bold;
        }
      }
    }
  }
}

.log-panel {
    position: absolute;
    top: 5rem;
    right: 1rem;
    width: 20rem;
    height: 15rem;
    // background-color: $accent-color-light;
    background-color: $footer-button-color;
    border-radius: 10px;
    padding: 1rem;
    overflow-y: auto;
    // display: none;
    font-size: large;
    z-index: 99;


    &__content {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 0.5rem;
        justify-content: space-between;
    }

    &__header {
        display:flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;
    
        #stop-btn {
            cursor: pointer;
            border-radius:15px;
            border: 1px solid white;
            padding: 0.25rem 0.5rem 0.25rem;
        }

        #warnlog-title {
            // padding: 0.25rem 0.5rem 0.25rem;
            padding-top: 0.25rem
        }

        svg,
        svg path {
            width: 1.25rem;
            height: 1.25rem;
            fill:white;
        }
    }
}