.vital-inactive {
  width: 100%;
  height: 100%;

  display: flex;

  &__container {
    width: 100%;
    height: 100%;

    &__name {
      font-size: 0.9rem;
      font-weight: bold;
      color: white;
    }
    &__value {
      font-size: 3rem;
      color: gray;
    }
  }
}

.vital-active {
  width: 100%;
  height: 100%;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  &__minmax {
    width: 30px;

    padding-top: 1.5rem;

    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 1rem;

    text-align: right;
  }

  .info {
    width: 150px;
  }

  &__container {
    width: 100%;
    height: 100%;
  }
}

.unit {
  font-size: 0.6rem;
}
